<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.leon.mapper.MerchantMapper">
    
    <resultMap id="BaseResultMap" type="com.leon.entity.Merchant">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="shop_name" property="shopName"/>
        <result column="shop_logo" property="shopLogo"/>
        <result column="shop_phone" property="shopPhone"/>
        <result column="shop_address" property="shopAddress"/>
        <result column="campus_area" property="campusArea"/>
        <result column="business_hours_start" property="businessHoursStart"/>
        <result column="business_hours_end" property="businessHoursEnd"/>
        <result column="min_delivery_amount" property="minDeliveryAmount"/>
        <result column="delivery_fee" property="deliveryFee"/>
        <result column="shop_status" property="shopStatus"/>
        <result column="shop_notice" property="shopNotice"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>
    
    <sql id="Base_Column_List">
        id, user_id, shop_name, shop_logo, shop_phone, shop_address, campus_area, 
        business_hours_start, business_hours_end, min_delivery_amount, delivery_fee, 
        shop_status, shop_notice, create_time, update_time
    </sql>
    
    <insert id="insert" parameterType="com.leon.entity.Merchant" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO merchant (user_id, shop_name, shop_logo, shop_phone, shop_address, campus_area,
                              business_hours_start, business_hours_end, min_delivery_amount, delivery_fee,
                              shop_status, shop_notice)
        VALUES (#{userId}, #{shopName}, #{shopLogo}, #{shopPhone}, #{shopAddress}, #{campusArea},
                #{businessHoursStart}, #{businessHoursEnd}, #{minDeliveryAmount}, #{deliveryFee},
                #{shopStatus}, #{shopNotice})
    </insert>
    
    <update id="updateById" parameterType="com.leon.entity.Merchant">
        UPDATE merchant
        <set>
            <if test="shopName != null">shop_name = #{shopName},</if>
            <if test="shopLogo != null">shop_logo = #{shopLogo},</if>
            <if test="shopPhone != null">shop_phone = #{shopPhone},</if>
            <if test="shopAddress != null">shop_address = #{shopAddress},</if>
            <if test="campusArea != null">campus_area = #{campusArea},</if>
            <if test="businessHoursStart != null">business_hours_start = #{businessHoursStart},</if>
            <if test="businessHoursEnd != null">business_hours_end = #{businessHoursEnd},</if>
            <if test="minDeliveryAmount != null">min_delivery_amount = #{minDeliveryAmount},</if>
            <if test="deliveryFee != null">delivery_fee = #{deliveryFee},</if>
            <if test="shopStatus != null">shop_status = #{shopStatus},</if>
            <if test="shopNotice != null">shop_notice = #{shopNotice},</if>
        </set>
        WHERE id = #{id}
    </update>
    
    <select id="selectById" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM merchant
        WHERE id = #{id}
    </select>
    
    <select id="selectByUserId" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM merchant
        WHERE user_id = #{userId}
    </select>
    
    <select id="selectList" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM merchant
        <where>
            <if test="shopName != null and shopName != ''">
                AND shop_name LIKE CONCAT('%', #{shopName}, '%')
            </if>
            <if test="shopStatus != null">
                AND shop_status = #{shopStatus}
            </if>
            <if test="campusArea != null and campusArea != ''">
                AND campus_area = #{campusArea}
            </if>
        </where>
        ORDER BY create_time DESC
    </select>
    
    <delete id="deleteById">
        DELETE FROM merchant WHERE id = #{id}
    </delete>
</mapper>
